doctype
html
  head
    title Steam Alert
    script(src="http://code.jquery.com/jquery-2.1.4.min.js")
  body
    h1 Steam Alert
    p.
      Enter you're friends Steam userId and the game you want to watch for.
    form(name="add-alert")
      .userId Steam userId
        input(type="text", name="userId")
      .gameName Game Name
        input(type="text", name="gameName")
      .email Email
        input(type="  email", name="email")
      button.submit Submit
    script(src="//localhost:35729/livereload.js")
    script(src="/scripts/index.client.controller.js")